h1 {
    padding-top: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
}

input {
    margin: 2%;
}

table, input {
    margin-left: 4%;
}

table {
    width: 92%;
    margin-bottom: 3em;
}

.bund {
    text-align: right;
    padding-right: 4%;
}