<div class="container">
    <h1 class="my-4">Neue Registrierung</h1>
    <form class="row">
        <div class="my-4 col-12 col-md-3">
            <label for="username">Benutzer*innenname</label>
        </div>
        <div class="my-3 col-12 col-md-9">
            <input class="form-control" type="text" placeholder="Benutzer*innenname" id="username" required />
        </div>
        <div class="my-4 col-12 col-md-3">
            <label for="password">Passwort</label>
        </div>
        <div class="my-3 col-12 col-md-9"> 
            <input class="form-control" type="text" placeholder="Passwort" id="password" required />
        </div> 
        <div class="my-4 col-12 col-md-3">
            <label for="email">E-Mail</label>
        </div>
        <div class="my-3 col-12 col-md-9">
            <input class="form-control" type="text" placeholder="E-Mail" id="email" required />
        </div> 
        <div class="my-4 col-12 col-md-3">
            <label for="role">Rolle</label>
        </div>
        <div class="my-3 col-12 col-md-9">
            <select class="form-select" aria-label="Default select example" type="text" placeholder="Rolle" id="role" required>
            <option selected>Wähle aus diesem Menü</option>
            <option value="1">Benutzer*in (lesende Rechte)</option>
            <option value="2">Benutzer*in (erweiterte Rechte)</option>
          </select>
        </div>
            

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success me-md-4" type="button" style="margin-bottom: 0.5em;">Speichern</button>
        </div>
    </form>
</div>